@use "../abstracts/variables" as v;
@use "../abstracts/colors" as c;

.navigation-element {
  position: relative;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    background: transparent;
    translate: -100% v.$nav-item-border-on-hover;
    transition: 500ms ease-in-out;
    opacity: 0.5;
    transform: scaleX(0);
  }
  &:hover::after,
  &:focus::after {
    background: c.$white-text;
    transform: scaleX(1);
  }
}

.navigation-element.active {
  &::after {
    display: none;
  }
}
