@use "../base/functions" as func;

$main-transition: 300ms ease-in-out;

$nav-padding-top: func.rem(40);
$nav-background-blur: func.rem(40.7742);
$nav-item-padding-y: func.rem(38);
$nav-item-border-on-hover: func.rem(3);

$nav-text-height: func.rem(20);
$nav-height: calc($nav-padding-top + ($nav-item-padding-y * 2) + $nav-text-height);

$btn-padding: func.em(10);
