@forward "../layout/index";

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;
@use "../base/typography" as typo;
@use "../base/functions" as func;

.crew {
  padding-left: func.rem(165);
  text-transform: uppercase;

  &__header {
    padding-top: func.rem(76);
    translate: 0 func.rem(28);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  &__text-column {
    @include flex(column, space-around);
    height: 100%;
    padding-top: func.rem(154 - 76);
  }

  &__type {
    opacity: 0.5;
    padding-bottom: 1rem;
  }

  &__name {
    padding-bottom: func.rem(27);
  }

  &__text {
    line-height: 2rem;
    text-transform: none;
    height: calc(2rem * 3);
  }

  &__btn {
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    justify-self: center;
    align-self: end;
    height: calc(100vh - v.$nav-height - func.rem(110));
    aspect-ratio: 568 / 712;
  }
}

@include mobileAndTablet() {
  .crew {
    padding-left: 0;
    text-align: center;

    &__header {
      translate: 0;
    }

    &__wrapper {
      @include flex(column);
    }

    &__type {
      padding-bottom: 0.5rem;
    }

    &__name {
      padding-bottom: 1rem;
    }

    &__image {
      width: 60%;
      height: auto;
      align-self: center;
    }

    &__btn {
      margin-right: 1rem;
    }
  }
}

@include tablet() {
  .crew {
    &__header {
      padding-top: func.rem(40);
      padding-left: func.rem(38.5);
      text-align: start;
    }

    &__text-column {
      padding-top: func.rem(60);
      padding: func.rem(60) func.rem(150) 0;
    }

    &__type {
      font-size: 1.5rem;
    }

    &__name {
      font-size: func.rem(40);
    }

    &__text {
      font-size: 1rem;
      line-height: func.rem(28);
      height: calc(func.rem(28) * 3);
      margin-bottom: func.rem(40);
    }

    &__btn-wrapper {
      margin-bottom: func.rem(40);
    }
  }
}

@include mobile() {
  .crew {
    &__header {
      padding-top: 1.5rem;
    }

    &__wrapper {
      flex-direction: column-reverse;
    }

    &__image {
      position: relative;
      padding-top: 2rem;
    }

    &__text-column {
      padding-top: 2rem;
      border-top: 2px solid #383b4b;
      width: 90%;
      @include flex(column-reverse);
      align-self: center;
    }

    &__btn-wrapper {
      padding-bottom: 2rem;
    }

    &__type {
      font-size: 1rem;
    }

    &__name {
      font-size: 1.5rem;
    }

    &__text {
      font-size: func.rem(15);
      line-height: func.rem(25);
      padding-bottom: func.rem(104);
    }
  }
}
