@forward "../components/index";
@forward "../layout/index";

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;
@use "../base/typography" as typo;
@use "../base/functions" as func;

@keyframes planetAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.destination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: func.rem(62) func.rem(165) func.rem(118);
  gap: func.rem(157);
  text-transform: uppercase;
  height: calc(100vh - v.$nav-height);
  align-items: center;

  &__header {
    padding-top: func.rem(44);
    padding-bottom: func.rem(97);
    align-self: start;
  }

  &__image {
    padding-left: func.rem(65);
    animation: planetAnimation 20000ms linear infinite;
  }

  &__text {
    padding-top: calc(func.rem(70) + func.rem(78));
    line-height: 2rem;
  }

  &__list {
    @include flex(row, flex-start, center);
    gap: func.rem(35);
    margin-bottom: func.rem(37);

    &__item {
      padding-bottom: 0.75rem;
      translate: 0 calc((v.$nav-item-border-on-hover / 2) * -1);
      letter-spacing: func.rem(2.7);

      &:where(.active) {
        color: c.$white-text;
        translate: 0;
        cursor: auto;
      }
    }
  }

  &__planet-name {
    margin-bottom: func.rem(14);
    line-height: func.rem(114.6);
  }

  &__description {
    text-transform: none;
    padding-bottom: func.rem(54);
    border-bottom: func.rem(1) solid hsl(231, 15%, 26%);
    margin-bottom: func.rem(28);
  }

  &__subheadings-wrap {
    @include flex();
    gap: func.rem(79);
  }

  &__subheader2 {
    font-size: typo.$subheading-text2-size;
    letter-spacing: typo.$subheading-text2-spacing;
    font-family: typo.$subheading-text2-font;
    color: c.$light-blue-text;
    margin-bottom: 0.75rem;
  }

  &__subheader1 {
    font-size: typo.$subheading-text-size;
  }
}

@include desktop() {
  .destination {
    &__presentation {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__image {
      justify-self: flex-end;
      width: 27vw;
    }
  }
}

@include mobileAndTablet() {
  .destination {
    @include flex(column, flex-start, flex-end);
    padding: func.rem(40) func.rem(38.5) func.rem(62);
    gap: func.rem(53);

    &__presentation {
      width: 100%;
      @include flex(column);
    }

    &__header {
      padding-bottom: func.rem(60);
    }

    &__image {
      padding: 0;
      width: 38.5vw;
      align-self: center;
    }

    &__text {
      @include flex(column, flex-start, center);
      padding: 0 func.rem(60);
      padding-bottom: 3rem;
      font-size: 1rem;
      line-height: func.rem(28);
    }

    &__list {
      margin-bottom: func.rem(32);
      &__item {
        font-size: 1rem;
      }
    }

    &__planet-name {
      font-size: func.rem(80);
      line-height: func.rem(91.68);
    }

    &__description {
      padding-bottom: func.rem(49);
      text-align: center;
    }

    &__subheadings-wrap {
      text-align: center;
    }
  }
}

@include mobile() {
  .destination {
    gap: func.rem(26);
    padding: 0;
    width: 90vw;
    margin: 0 auto;

    &__presentation {
      text-align: center;
    }

    &__header {
      padding-top: 1.5rem;
      padding-bottom: 2rem;
    }

    &__image {
      width: 45vw;
    }

    &__text {
      padding: 0;
      padding-bottom: 2rem;
      font-size: func.rem(15);
      line-height: func.rem(25);
    }

    &__planet-name {
      font-size: func.rem(56);
      line-height: func.rem(64.18);
    }

    &__description {
      font-size: func.rem(15);
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    &__subheadings-wrap {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
